%button.btn.btn-secondary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Contact Me
#myModal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Contact Me
      .modal-body
        .row
          = simple_form_for @contact_form, url: deliver_contact_form_path, html: { class: 'form-horizontal' } do |f|
            .col-lg-8.col-lg-offset-2
              =f.input :name, required: true, placeholder: 'Your Name'
            .col-lg-8.col-lg-offset-2
              =f.input :email, required: true, hint: "I'll email you back at this address.", placeholder: 'Your Email'
            .col-lg-8.col-lg-offset-2
              =f.input :message, as: :text, required: true
            .col-lg-8.col-lg-offset-2
              =f.button :submit, 'Submit'
      .modal-footer
        %button.btn.btn-secondary.btn-sm{"data-dismiss" => "modal", :type => "button"} Close
