%button.btn.btn-secondary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Contact Me
#myModal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Contact Me
      .modal-body
        .row
          %h3 Nancy McGuckin
          %h4 Travel Behavior Analyst
          %h5 1214 Blair Ave, Suite #100
          %h5 Pasadena, CA 91030
          %br
          %h5
            = ENV[MAIL_TO_ADDRESS]
      .modal-footer
        %button.btn.btn-secondary.btn-sm{"data-dismiss" => "modal", :type => "button"} Close
