%button.btn.btn-secondary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Contact Me
#myModal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Contact Me
      .modal-body
        .row
          .col-lg-8.col-lg-offset-2
            %h3 Nancy McGuckin
        .row
          .col-lg-8.col-lg-offset-2
            %h4 Travel Behavior Analyst
        .row
          .col-lg-8.col-lg-offset-2
            1214 Blair Ave, Suite #100
            %br
            Pasadena, CA 91030
        .row
          .col-lg-8.col-lg-offset-2
            %h5 n_mcguckin@rocketmail.com
      .modal-footer
        %button.btn.btn-secondary.btn-sm{"data-dismiss" => "modal", :type => "button"} Close
