%section{style: "margin-top: -20px"}
  .jumbotron.img-responsive{:style => "background: url(#{asset_url 'CYCLISTS.JPG'}) no-repeat center center; background-size: cover; opacity: 1; "}
    .container.text-xs-center.text-white
      %h1.display-3{:style => ""} About Me
      %p.lead{:style => "text-transform: uppercase;"} Expertise in the Interpretation and Forecasting of Travel
      %br
%section{style: "margin-top: -30px;"}
  .page-container
    %br
    .row
      .col-md-2.col-md-offset-1
        %br
        = image_tag('headshot.jpg', alt: 'Portrait of Nancy McGuckin', class: 'img-responsive', height: '200', width: '200')
      .col-md-8
        %h4
          Nancy McGuckin is an independent consultant and nationally known expert in the interpretation and forecasting of travel behavior.
        %p
          She is best known for her ability to make meaningful analysis from complex data sources and her practical interpretation of research. She recently completed forecasts of travel by older Americans, migration and immigration patterns and trends, and forecasts of non-work travel for the National Surface Transportation Policy and Revenue Study Commission.
          %br
          %br
          In her early career, she worked for Barton-Aschman/Parson’s Transportation Group developing travel and ridership forecasts for major investment studies, such as high speed rail systems in  Shanghai, San Juan, and Bangkok.
          %br
          %br
          She specializes in social and demographic indicators of travel demand, and integrates data from safety, health, economic, energy, time-use, and other pertinent sources to develop the context for planning and policy initiatives.
      %br
    %br
    .row
      .col-md-10.col-md-offset-1
        .panel.panel-default
          .panel-heading
            %h3.panel-title Experience
          .panel-body{style: 'color: black;'}
            %h4 Summary
            %p
              Ms. McGuckin is a nationally recognized expert in travel behavior and a senior advisor to Federal, State, and local public agencies, policy and advocate groups, other consultant groups, and private clients.  She draws insightful and meaningful information from complex and disparate data sources and designs and assesses primary data collection efforts related to travel behavior.  She helps develop robust performance measures for area-wide policies related to emissions, health, and mobility and formulates methods of tracking those metrics. She creates critical information out of data for decision makers, transportation planners, and travel demand forecasters.
            %p
              Examples of her application of skills in complex data mining for transportation research and policy development include:
            %ul
              %li Forecasting and explaining changes in travel demand: Emerging Trends in US Vehicle Demand (EIA 2014), Serving the Mobility Preferences of Generation Y (TCRP J-11/Task 17), Millennials and Mobility (TRB TDUF 2014), Baby Boomers’ Effect on US Travel 1969-2009 (AARP), and Summary of Travel Trends 2009 (FHWA)
              %li Intercity and Airport: MapLAX future development project data consultant “LAX is Happening Now” (LAWA), DFW and Love Field Passenger Surveys (NCTCOG), Intercity Passenger Travel Issues and Opportunities in Short-haul Markets (TRB Policy Committee), Long-Distance Travel Parameters for Statewide Models (NCHRP Report #735)
              %li Active Travel/Health: Walking and Biking in California (Caltrans), Walking to School in California (SRTS and ALR), Trends in Walking (CDC), Active Travel in Texas (TTAT), “Collecting Health Data to Inform Urban Planning and Policies” (TRNews 299)
              %li Trends in Commute Behavior: Identified complex commute behavior (the ‘Starbucks Effect’), calculated mandatory and discretionary travel purposes (Peak Travel) and researched changes in commute behavior over the last half century (Commuting in America IV)
            %p
              Ms. McGuckin works extensively with many large national databases, and is especially well-known for her work with the National Household Travel Survey (NHTS) data series. She is on the team to collect and analyze the next NHTS in the series (with Westat). The change in sample and methods—address-based sample and web retrieval—makes her familiarity with the series integral to the interpretation of the new NHTS data. In addition, she works extensively with NHTS add-ons, both states and local planners, to conduct research and leverage the add-on data for a range of local uses and analyses.
            %p
              Ms. McGuckin teaches the graduate seminar in Travel Behavior Analysis (UP253) at UCLA, and is frequently asked to speak on the topic of travel behavior at conferences, associations, and for the press.
            %h4
              Education
            %ul
              %li Post-Graduate Studies, University of Maryland, College Park, MD (1997-1998) Psychology
              %li Montgomery College Maryland (1988) and SAS Institute, Cary, NC, (1993), Statistics
              %li Bachelor of Arts, Geography/Government Studies, University of Texas at Austin
              %li University of Isfahan, Isfahan Iran, 1978-1979, Junior year abroad with special research grant
            %h4
              Associations
            %ul
              %li Committee for a Study of Intercity Passenger Travel Issues and Opportunities in Short-Haul Markets (special TRB Policy Panel)
              %li TRB Committee on National Data Requirements (ABJ10)
              %li TRB Committee on Urban Data and Information Systems (ABJ30)
              %li Center for Disease Control Expert Panel on Active Transportation (since 2011)
              %li The Transportation Statistics Interest Group (coordinated by the Bureau of Transportation Statistics and the American Statistical Association)
    %br
    .row
      .container{style: 'width: 70%;'}
        .text-xs-center
          %h3{style: 'color: black;'}
            Let's Work Together!
    .row
      .container{style: 'width: 70%; margin-bottom: 20px;'}
        .text-xs-center
          = render partial: 'contact_modal'
