%section{style: "margin-top: -20px"}
  .jumbotron.img-responsive{:style => "background: url(#{asset_url 'chart.jpeg'}) no-repeat center center; background-size: cover; opacity: 1; "}
    .container.text-xs-center.text-white
      %h1.display-3{:style => ""} Consultant Services
      %p.lead{:style => "text-transform: uppercase;"} Expertise in the Interpretation and Forecasting of Travel
      %br
%section{style: "margin-top: -30px;"}
  .page-container
    %p{style: "margin-left: 60px; margin-right: 60px; margin-top: 20px; margin-bottom: 20px;"}
    %hr.featurette-divider
    %br
    %h2.text-center
      Travel Behavior Analyst
    %br
    .row
      .col-xs-10.col-xs-offset-1
        %p{style: "margin-left: 60px; margin-right: 60px; margin-top: 20px; margin-bottom: 20px;"}
          Ms. McGuckin offers a number of services individualized to the needs of each client, including support for local planning and policy initiatives, data compilation and analysis, developing data collection strategies, and technical assistance. Ms. McGuckin knows where to find existing data, when to combine sources, and how to collect it to fill data gaps.
          %br
          %br
          Sometimes you just need an important number, verification, or insight into data that you have. If you have a question related to travel behavior, she can provide an efficient, reliable, and comprehensive source of information for you.
    %hr.featurette-divider
    %br
    .row
      .col-xs-10.col-xs-offset-1
        .row
          .col-lg-4{style: 'color: black;'}
            .panel.panel-default{style: 'height: 400px'}
              .panel-heading
                %h3.panel-title Travel Demand Models
              .panel-body
                As states develop statewide travel demand models, they often run into a gap in rural travel demand indicators.  Ms. McGuckin understands how rural travel differs from urban, which model inputs have the highest variability (and least reliability when ‘borrowed’), and can develop both rural and urban trip generation estimates. At the same time, she can help develop default estimates of long-distance travel—in most states the majority of trips over 50 miles in length are within the same state. Filling these common data gaps is critical to completing the base year estimates and forecasting future needs.
          .col-lg-4{style: 'color: black;'}
            .panel.panel-default{style: 'height: 400px'}
              .panel-heading
                %h3.panel-title Climate Change and Sustainability
              .panel-body
                Climate change and sustainability  have become concerns for planners and policy makers. Ms. McGuckin has developed methods of mining national data to develop local estimates of VMT (vehicle miles of travel) and PMT (person miles of travel) for each neighborhood (Census Tract) to create a local sustainability performance measure. Assessing the characteristics and behaviors that result in lower VMT and effectively communicating the results helps residents and policy makers understand the choices that lower the carbon impact of daily travel.
          .col-lg-4{style: 'color: black;'}
            .panel.panel-default{style: 'height: 400px'}
              .panel-heading
                %h3.panel-title Policy Development
              .panel-body
                Social, technological, and economic dynamics have affected travel over the last few decades, and up-to-date information is needed for policy development.  Ms. McGuckin provides verifiable, defensible, and actionable information to decision-makers to help craft policies sensitive to local demographics and travel behavior. For example, she has developed policy briefs on important topics related to safety, vehicle use, congestion pricing, and physical activity, such as walking and biking. Existing sources of data are mined to develop local statistics, such as Census/ACS, NHTS, ATUS, LEHD, FARS, and PUMS.
        .row
          .col-lg-6{style: 'color: black;'}
            .panel.panel-default{style: 'height: 250px'}
              .panel-heading
                %h3.panel-title Expert Panelist
              .panel-body
                Ms. McGuckin sits on expert panels and is active in the National Academy of Science Transportation Research Board. She is often asked to speak at conferences and at public and professional meetings on travel behavior and travel trends in the U.S.
          .col-lg-6{style: 'color: black;'}
            .panel.panel-default{style: 'height: 250px'}
              .panel-heading
                %h3.panel-title Experienced Surveyor
              .panel-body
                Additionally, she offers experience, insight, and expertise to states and MPOs conducting large-scale household travel surveys, workplace or special generator surveys, visitor or transit surveys.  She can be an invaluable part of a team, or an independent voice providing quality control and oversight to take some of the risk out of large, complex data collection.
    %hr.featurette-divider
    .row
      .container{style: 'width: 70%;'}
        .text-xs-center{style: 'color: black;'}
          %h3
            Let's Work Together!
    .row
      .container{style: 'width: 70%; margin-bottom: 20px;'}
        .text-xs-center
          = render partial: 'contact_modal'
