/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/bootstrap
 *= require font-awesome
 *= require froala/froala_editor.pkgd.min
 */

 .mentions-input {
     position: relative;
 }

 .mentions-input .input {
     overflow: hidden;
     position: relative;
 }

 .mentions-input .highlighter {
     position: absolute;
     left: 0;
     right: 0;
     color: transparent;
     overflow: hidden;
     border-style: solid;
     border-color: transparent;
 }

 .mentions-input .highlighter-content {
     position: relative;
 }

 .mentions-input .highlighter-content strong {
   font-weight: inherit;
   background-color: #a3bcea;
   display: inline;
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
 }

 [data-mention] {
   background-color: #a3bcea;
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
 }
 .c-select {
     border: 2px solid #ccc;
 }
