/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/bootstrap
 *= require font-awesome
 *= require froala/froala_editor.pkgd.min
 */

  @-ms-viewport       { width: device-width; }
  @-o-viewport        { width: device-width; }
  @viewport           { width: device-width; }


  .c-select {
     border: 2px solid #ccc;
  }

  .page-container {
    width: 100%;
    height: 100%;
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#303030+0,f5f5f5+100 */
    background: #295b7a; /* Old browsers */
    background: -moz-linear-gradient(top,  #295b7a 0%, #f5f5f5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #295b7a 0%,#f5f5f5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #295b7a 0%,#f5f5f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
  }

  .panel-body li {
    color: black !important;
    list-style: square !important;
  }

  .btn-primary {
    background: #8ACABD !important;
    font-size: 32px;
    border: none !important;
    margin: 20px;
  }

  .btn-secondary {
    background: #133d56 !important;
    font-size: 32px;
    border: none !important;
    margin: 20px;
    color: white;
  }

  .blue-text {
    color: #2B95BF;
  }

  .footer {
    background: #133d56 !important;
  }

  .btn-wrap-text {
    white-space: normal !important;
  }
/*
  .btn-power-point {
    background: #2B95BF !important;
    font-size: 32px;
    border: none !important;
    color: white;
    margin-bottom: 20px;
  }*/
  .modal {
    text-align: center;
    padding: 0!important;
    color: #303030;
  }

  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .jumbotron-image img {
    image-resolution: 300dpi;
  }
  .text-white {
    color: white;
  }
  /* NAVBAR */
  .navbar-default {
    background: #133d56 !important;
    background-color: #133d56 !important;
    border-color: #1b4965 !important;
  }
  .navbar-default .navbar-brand {
    color: #ecf0f1 !important;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #707476 !important;
  }
  .navbar-default .navbar-text {
    color: #ecf0f1 !important;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1 !important;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #707476;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #707476;
    background-color: #1b4965;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #707476;
    background-color: #1b4965;
  }
  .navbar-default .navbar-toggle {
    border-color: #1b4965;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #1b4965;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar-default .navbar-link {
    color: #ecf0f1;
  }
  .navbar-default .navbar-link:hover {
    color: #707476;
  }
  .flex-row {
  	display: flex;
  	flex-wrap: wrap;
  }
  .flex-row > [class*='col-'] {
  	display: flex;
  	flex-direction: column;
  }

  .flex-row .thumbnail,
  .flex-row .caption {
  	flex-direction: column;
  	display: flex;
  	flex: 1 0 auto;
  	height: auto;
  	position: relative;
  }
  .flex-text {
  	flex-grow: 1;
  }
  .flex-row img {
  	min-width: 0;
  	width: 100%;
  }
  .btn-secondary:hover {
    color: #ccc !important;
    border: #ccc !important;
  }

  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #707476;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #707476;
      background-color: #1b4965;
    }
  }
