/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/bootstrap
 *= require font-awesome
 *= require froala/froala_editor.pkgd.min
 */

  @-ms-viewport       { width: device-width; }
  @-o-viewport        { width: device-width; }
  @viewport           { width: device-width; }

 .mentions-input {
     position: relative;
 }

 .mentions-input .input {
     overflow: hidden;
     position: relative;
 }

 .mentions-input .highlighter {
     position: absolute;
     left: 0;
     right: 0;
     color: transparent;
     overflow: hidden;
     border-style: solid;
     border-color: transparent;
 }

 .mentions-input .highlighter-content {
     position: relative;
 }

 .mentions-input .highlighter-content strong {
   font-weight: inherit;
   background-color: #a3bcea;
   display: inline;
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
 }

 [data-mention] {
   background-color: #a3bcea;
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
 }
 .c-select {
     border: 2px solid #ccc;
 }

 .page-container {
   background: #F5F5F5;
   width: 100%;
   height: 100%;
 }

  .btn-primary {
    background: #8ACABD !important;
    font-size: 32px;
    border: none !important;
    margin: 20px;
  }

  .btn-secondary {
    background: #2B95BF !important;
    font-size: 32px;
    border: none !important;
    margin: 20px;
    color: white;
  }

  .blue-text {
    color: #2B95BF;
  }

  .footer {
    background: #2B95BF !important;
  }

  .btn-wrap-text {
    white-space: normal !important;
  }
/*
  .btn-power-point {
    background: #2B95BF !important;
    font-size: 32px;
    border: none !important;
    color: white;
    margin-bottom: 20px;
  }*/
  .modal {
    text-align: center;
    padding: 0!important;
  }

  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
